#root {
	box-sizing: border-box;
}

.app-wrapper {
	display: grid;
	justify-items: center;
}

.kb-calculator__wrapper {
	display: grid;
	justify-items: center;
	margin-top: 2rem;

	.kb-calculator {
		justify-content: center;
		margin-bottom: 2rem;
	}
}
